{% extends 'base.html' %}
{% load static %}

{% block css_block%}
{% endblock %}

{% block navbar_block%}
{% endblock %}

{% block body_block%}

<div class="container pt-2">
<table class="table">
    <thead class="thead-dark">
    
      <tr>
        
          <th>
            
        <a href ='#'><span style = 'color: whitesmoke'>Position</span></a>
            
            </th>
            <th>
        <a href ='#'><span style = 'color: whitesmoke'>Name</span></a>
        <th>
        <a href ='#'><span style = 'color: whitesmoke'>Total Tag</span></a>
        </th>
        <th>
        <a href ='#'><span style = 'color: whitesmoke'>Accuracy</span></a>
        </th>
      </tr>
    </thead>
    
    <tbody>
        
      <tr>
        
        
        <th scope="row">1</th>
        <td>Hello</td>
        <td>Otto</td>
        <td>70</td>
        
        
      </tr>
      
    </tbody>
  </table>
  
<!-- 
{% for user, record in zippedlist %}

{% if user.is_superuser %}

{% elif user == current_user %}
<h1><b>Hello {{user.first_name}}</b>      {{ record.accuracy }}% Accuracy</h3>

{% else %}
<h2>{{user.first_name}}      {{ record.accuracy }}% Accuracy</h2>

{% endif %}

{% endfor %} -->
</div>


{% endblock %}

{% block js_block%}
{% endblock %}
